@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    -webkit-tap-highlight-color: transparent;
  }
}

@layer components {
  .eco-gradient {
    @apply bg-gradient-to-br from-green-50 via-white to-green-50;
  }
}